@import "../basic-information/basic-information.component.scss";

section {
    .card2 {
        margin-top: 20px;
    }

    .basic-card {
        .content {
            .form {
                .topField {
                    margin-top: -25px !important;
                }

                .increaseFormfield {
                    width: 550px;
                }

                .inputs {
                    gap: 40px;
                }
            }
        }
    }
}



  ::ng-deep {
    .mat-select-panel {
      min-width: calc(100% + 15px) !important;
      margin: 2.5rem 0rem 0rem 0.425rem !important;
    }
  }