<section>
    <div class="profile_wraper">
        <figure>
            <img src="/assets/default_male.jpg" alt="user_image">
        </figure>
        <div class="profile_info">
            <div class="name">
                <h3>{{userData.name}}</h3>
            </div>
            <div class="basic_info">

                <div class="login_details">
                    <strong>Email : </strong>
                    <span>{{userData.email}}</span>
                </div>
                <div class="login_details">
                    <strong>Employee ID : </strong>
                    <span>{{userData.emp_id}}</span>
                </div>
                <div class="login_details">
                    <strong>Designation : </strong>
                    <span>{{userData.designation}}</span>
                </div>
                <div class="login_details">
                    <strong>Last Login : </strong>
                    <span>{{userData.last_login}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="profile_part_container">
        <div class="profile_parts">
            <ng-container *ngFor="let data of profileParts">
                <div class="part" [routerLink]=[data.route] routerLinkActive="is_active">
                    <mat-icon class="icon">{{data.icon}}</mat-icon>
                    <span>{{data.title}}</span>
                </div>
            </ng-container>
          
        </div>
        <div class="profile_info_container">
            <router-outlet></router-outlet>
        </div>
    </div>


</section>