.formfield {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: 500;
    color: #2f3031;
    font-size: 0.875rem;

  }

  .light {
    font-size: 0.85rem;
    color: #96a5b8;
    line-height: 1.4;
  }

  ::ng-deep {


    .mat-icon-button {
      position: absolute;
      top: -5px;
      right: -8px;
      background-color: transparent;
    }


    .mat-toolbar.mat-primary {
      background-color: var(--primary-color) !important;
      // --primary-color:#26b4ff;

    }
  }
}