// .formfield {
//   @include flexbox();
//   flex-direction: column;
//   .label {
//     font-weight: 500;
//   }
//   .labelStyle {
//     font-size: 14px;
//     color: $directory-font-color;
//     font-weight: 500;
//     line-height: 1.4;
//     margin-bottom: 4px;
//   }
//   .increaseFormfield {
//     width: 369px;
//   }
//   .qualificationDropdown {
//     width: 550px;
//   }
//   ::ng-deep {
//     //mat-input focused color
//     .mat-form-field-appearance-outline.mat-focused
//       .mat-form-field-outline-thick {
//       color: $button-color !important;
//     }
//   }
// }
.filter {
  width: 98% !important;
  padding: 10px 0px !important;
  overflow: hidden;
}

::ng-deep {
  .mat-option[aria-disabled="true"] {
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    user-select: none;
    cursor: default;
    overflow: hidden;
  }

  .mat-select-panel {
    min-width: calc(100% + 5px) !important;
    margin: 2.5rem auto auto auto !important;
  }

  .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-top: 11px solid !important;
    margin: 0 4px;
  }

  .mat-primary .mat-option:hover {
    background: var(--button-background-color);
    color: #fff;

    &:focus {
      background: var(--button-background-color);

    }
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {

    color: #fff;
  }
}



// @media (max-width: 1798px) {
//   .formfield {
//     .increaseFormfield {
//       width: auto;
//     }
//     .qualificationDropdown {
//       width: auto;
//     }
//   }
// }
// @media (min-width: 150px) and (max-width: 319px) {
//   .formfield {
//     .increaseFormfield {
//       width: 100px;
//     }
//     .qualificationDropdown {
//       width: 100px;
//     }
//   }
// }


.formfield {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: 500;
    //     font-size: 14px;
    // font-weight: 600;
    // font-family: 'Segoe UI';
    color: #2f3031;
    // margin-bottom: 5px;
  }
}