<div class="formfield 2">
    <label class="label" [ngClass]="labelStyle">{{label}}</label>
    <mat-form-field appearance="outline" [ngClass]="formfieldCSS">
      <mat-select [formControl]="formControlName">
        <input [formControl]="myControl"  class="filter">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item" [disabled]="item=='no results Found'">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error>{{   formControlName | validate : label   }}</mat-error>
    </mat-form-field>
  </div>
  
  