form{
    mat-form-field {
        width: 100%;
    }

    .eye {
        position: absolute;
        top: -23px;
        right: 10px;
        color: var(--button-background-color);
    }

    .btn_group {
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-end;

        button {
            background-color: var(--button-background-color);
            color: #ffff;
        }

        .login_icon {
            font-size: 20px;
        }

    }
}