<form [formGroup]="loginForm" (submit)="login()" class="form-inner" >
    <mat-label>Email</mat-label>
    <mat-form-field appearance="standard">
        <input matInput formControlName="email" placeholder="Your Email" />
        <mat-error>{{ getControl("email") | validate : "email" }}</mat-error>
    </mat-form-field>

    <mat-label>Password</mat-label>
    <mat-form-field appearance="standard">
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
            placeholder="Enter Password" />
        <mat-error>{{     getControl("password") | validate : "password"   }}</mat-error>
        <mat-icon matSuffix class="eye" (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
    </mat-form-field>
    <a href="javaScript:void(0)" [routerLink]="'FORGOT_PASSWORD' | absolutePath">Forgot Password?</a>
    <div class="btn_group">
        <button mat-raised-button type="submit">
            <mat-icon class="login_icon">lock_person</mat-icon>
            LOGIN
        </button>
    </div>
</form>