@import 'src/scss/buttons.scss';

section {
    .header {
        // background: gainsboro;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: -24px;
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);

        .heading {
            padding: 16px;
            font-size: 1.3rem;
            color: #000;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;
        }
    }

    .main {
        width: 35rem;

        .mat-form-field {
            width: inherit;
        }
    }

    .cancel {
        margin-right: 15px;
    }

    button[disabled] {
        background: #adb3df;
        cursor: not-allowed;
    }

}

// :host::ng-deep {

//     .mat-dialog-container {
//         width: 35rem;
//     }
// }


@media only screen and (max-width: 1080px) {
    section {
        .header {
            margin-bottom: 1rem;
            .heading {
                font-size: 1rem;
            }
        }
        .main{
            width: 20rem;
        }

    }
}
@media only screen and (max-width: 500px) {
    section {
        .header {
            margin-bottom: 0.5rem;
            .heading {
                font-size: 0.8rem;
            }
        }
        .main{
            width: 100%;
        }

    }
}