<section>
    <p>Home / My Trainings / Details</p>
    <div class="header">
        <h3 class="heading">
            Angular Training Feb- 2022
        </h3>
    </div>
    <div class="main">
        <div class="main_header">
            <div class="tabs">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Training Details"><app-details></app-details> </mat-tab>
                    <mat-tab label="Sub-Topics"> <app-sub-topics></app-sub-topics> </mat-tab>
                    <mat-tab label="Attendance"> <app-attendance></app-attendance> </mat-tab>
                </mat-tab-group>
                <div class="action">
                    <button class="btn_cancel" mat-raised-button>Completed</button>
                </div>
            </div>
        </div>
    </div>
</section>