  .leftRs {
    position: absolute;
    top: -64px;
    bottom: 0;
    color:var( --caurosel-button-color);

    background-color: #f1f1f1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 30px;
    border: none;
    // z-index: 9999;


  }

  .rightRs {
    position: absolute;
    top: -64px;
    bottom: 0;
    color:var( --caurosel-button-color);
    background-color: #f1f1f1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 0;
    border: none;
    // z-index: 9999;
  }

  :host::ng-deep{

    .ngucarousel{
      position: initial !important;
      overflow: hidden;
    }
    // .item .ing-star-inserted{
    //   margin: 0;
    //   overflow: hidden;
    // }
  }

  .myPoint {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    // @media only screen and (max-width: 1399px) {
    //   // width:max-content;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
  .myPoint li {
    display: inline-block;
    border-radius: 50%;
    background: #D6D6D6;
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
  }
  .myPoint li.active {
    background: #6b6b6b;
    transform: scale(1.2);
  }
  