@import "src/scss/commonscss.scss";

table,
th,
td {
    border: 2px solid #f7f1f1;
    ;
    border-collapse: collapse;
}

.bottom-header {
    @include flex(center, space-between);

    .select {
        @include flex(center, space-between);
        gap: 1rem;
    }
}

table {
    width: 100%;
    min-width: 70vw;

    td {
        height: 8rem;
        text-align: end;
        padding-right: 8px;
        position: relative;

        .table-data-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 0px 6px;
            width: 9rem;

            mat-checkbox {
                color: white;

                ::ng-deep {
                    .mat-checkbox-inner-container-no-side-margin {
                        background-color: #fff;
                    }
                }
            }
        }
        .more{
            cursor: pointer;
        }
        .date {
            // margin-bottom: 6rem;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
            position: absolute;
            top: 5px;
            right: 10px;
            position: absolute;
        }
    }

    .coupon-purchased {
        background-color: #a4ffcc;
    }

    .coupon-available {
        background-color: #bdc8fa;
    }

    .locked {
        background-color: #bfbfbf;
    }

    .weekend {
        background-color: #ff989e;
    }

}