* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_with_google {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    height: 190px;
    .valid_email_message {
        margin-top: 10px;
        color: var(--shadow-color);

    }

    .google_button {
        background-color: #8e97a5;
        padding: 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: 17px;
        .text{
            margin-right: 25px;
        }
        img {
            height: 48px;
            margin-right: 30px;
            background-color: #ffff;
            padding: 12px;
        }
        // :disabled{
        //     background-color: #757980;
        // }
    }
}