<section>
    <div class="breadcrumb">
    <app-breadcrumb [breadcrumb]="'my-performance'"></app-breadcrumb>

    </div>
    <div class="header">
        <h3 class="heading">Performance</h3>
    </div>
    <div class="dashboard_card">
        <div class="left">
            <div class="profile_wraper">
                <figure>
                    <img src="/assets/default_male.jpg" alt="user_image">
                </figure>
                <div class="profile_info">
                    <div class="name">
                        <h3>Shiva Saroj</h3>
                    </div>
                    <div class="basic_info">
                        <div class="login_details">
                            <span class="tech">Software Engineer (Angular)</span>
                        </div>
                        <div class="login_details">
                            <span class="exp">{{0.7}}YRS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="award_honors">
                <div class="awards_list_panel hounour_wrap">
                    <h4>AWARDS</h4>
                    <!-- <ul></ul> -->
                    <span>N/A</span>
                </div>
                <div class="hounour_wrap">
                    <h4>HONORS</h4>
                    <!-- <ul></ul> -->
                    <span>N/A</span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="flex_panel">
                <div class="rating_count">
                    <span class="number ">{{((performanceValue.tech_total+performanceValue.ownership_total+performanceValue.teamwork_total
                        +performanceValue.Process_total
                        )/4)|number :'1.1-2'}}</span>
                </div>
                <div class="cal_nav_wrapper">
                    <span class="cal_date"> {{'Jan 2021 - TILL NOW'}}</span>
                </div>
            </div>
            <div class="flex_row">
                <div class="rating_sum_head">
                    <span class="tech">{{performanceValue.TECHNICAL_LABEL|titlecase}}</span>
                    <b class="number ">{{performanceValue.tech_total|number :'1.1-2'}}</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech">{{performanceValue.OWNERSHIP_LABEL|titlecase}}</span>
                    <b class="number">{{performanceValue.ownership_total|number :'1.1-2'}}</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech">{{performanceValue.TEAMWORK_LABEL|titlecase}}</span>
                    <b class="number">{{performanceValue.teamwork_total|number :'1.1-2'}}</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech"> {{performanceValue.PROCESS_LABEL|titlecase}}</span>
                    <b class="number ">{{performanceValue.Process_total|number :'1.1-2'}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="main_wraper dashboard_card">
        <div class="header">
            <h3 class="text">{{performanceValue.button|titlecase}}</h3>
        </div>
        <div class="search_panel_right">
            <div class="head_panel">
                <h2> {{performanceValue.calendar|titlecase}}</h2>
            </div>
            <div class="head_panel_search">
                <app-common-dropdown [label]="performanceValue.select_year" [dropdownDownControlName]="yearFormControl" [data]="years"></app-common-dropdown>
            </div>

        </div>
        <div class="content_body">
            <ng-container *ngFor="let item of reviewData?.monthlyRating">
                <div class="cal_grid_panel">
                    <ng-container *ngIf="!item.isRating">

                        <div class="no_data">
                            <span class="month_name">{{item?.month|titlecase}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item?.isRating">

                        <div class="data" (click)="openRatingDialog(item)">
                            <div class="flex_panel">
                                <span class="month_name">{{item?.month|titlecase}}</span>
                                <span class="month_rate">{{item.rating|number :'1.1-2'}}</span>

                            </div>
                            <div class="cal_awards_wrap">
                                <div class="count award">
                                    <span>
                                        {{item.award_title|titlecase}} 
                                    </span>
                                    <span class="num"> {{item.Awards|number :'1.1-2'}} </span>
                                </div>
                                <div class="count honour">
                                    <span>
                                        {{item.honour_title|titlecase}}
                                    </span>
                                    <span class="num"> {{item.Honour|number :'1.1-2'}} </span>
                                </div>
                                <span class="cal_arrow" >
                                    &gt;
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</section>