<section>
    <div class="header">
        <h3 class="heading">Performance</h3>
    </div>
    <div class="dashboard_card">
        <div class="left">
            <div class="profile_wraper">
                <figure>
                    <img src="/assets/default_male.jpg" alt="user_image">
                </figure>
                <div class="profile_info">
                    <div class="name">
                        <h3>Shiva Saroj</h3>
                    </div>
                    <div class="basic_info">
                        <div class="login_details">
                            <span class="tech">Software Engineer (Angular)</span>
                        </div>
                        <div class="login_details">
                            <span class="exp">{{0.7}}YRS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="award_honors">
                <div class="awards_list_panel hounour_wrap">
                    <h4>AWARDS</h4>
                    <ul></ul>
                    <span>N/A</span>
                </div>
                <div class="hounour_wrap">
                    <h4>HONORS</h4>
                    <ul></ul>
                    <span>N/A</span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="flex_panel">
                <div class="rating_count">
                    <span class="number">4.2</span>
                </div>
                <div class="cal_nav_wrapper">
                        <span class="cal_date"> {{'Jan 2021 - TILL NOW'}}</span>
                </div>
            </div>
            <div class="flex_row">
                <div class="rating_sum_head">
                    <span class="tech">Technical Skills</span>
                    <b class="number">5.0</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech">Technical Skills</span>
                    <b class="number">5.0</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech">Technical Skills</span>
                    <b class="number">5.0</b>
                </div>
                <div class="rating_sum_head">
                    <span class="tech">Technical Skills</span>
                    <b class="number">5.0</b>
                </div>
            </div>
        </div>
    </div>
</section>