<section @slideInRight>
    <div class="basic-card">
        <div class="header">
            <p class="header-text">{{uiMessage.PROFILE_PIC_HEADER}}</p>
        </div>
        <div class="formgroup">
            <form class="form">
                <div class="container-1">
                    <p class="browse">{{uiMessage.BROWSE_VALUE}}</p>
                    <input type="file" accept=".jpg,.png,.jpeg">
                    <br>
                    <small>{{uiMessage.FORMAT}}</small>
                </div>
                <img src="/assets/default_male.jpg" class="profilePreviewImg">
                <div class="remove-pic">
                    <input type="checkbox">
                    <p class="remove-value">{{uiMessage.REMOVE_PIC_VALUE}}</p>
                </div>
                <div class="classyButton">
                    <button class="btn_primary" mat-raised-button>{{uiMessage.BUTTON_VALUE}}</button>
                </div>
            </form>

        </div>

    </div>
</section>