<section>
    <div class="header">
        <h3 class="heading">DSR Edit</h3>
    </div>
    <form [formGroup]="dsrForm" (ngSubmit)="onUpdate()">

        <div class="left">
            <div class="row">
                <app-common-dropdown [label]="'Project'" [data]="projects"
                    [dropdownDownControlName]="getControl('project')"></app-common-dropdown>
            </div>
            <div class="second">

            <app-common-date-picker [label]="'Date'" [inputFormControl]="getControl('date')"  ></app-common-date-picker>

            <app-common-time-picker [label]="'Estimated Hour'" [inputFormControl]="getControl('logged_hr')"></app-common-time-picker>

            </div>
        </div>
        <div class="right">
            <app-common-text-editor [label]="'Description'"
                [inputFormControl]="getControl('dsr')"></app-common-text-editor>
        </div>
        <div class="actions">
            <button class="btn_primary save" mat-raised-button type="submit">Update</button>

        </div>
    </form>
</section>