* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;

    img {
        padding: 2rem;
    }

    .mat-card {
        padding: 0;
        border-radius: 2px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        top: 50%;
        transform: translate(0, -50%);
        width: 380px;

        mat-card-content {
            display: flex;
            justify-content: center;
            .form{
                width: 80%;
            }
        }

        mat-card-actions {
            width: 100%;
            display: flex;
            justify-content: center;
           
            button {
                background-color: #26B4FF;
                color: #ffff;
                width: 90%;
                border-radius: 0;
            }
        }
        .bottom_text {
            text-align: center;
            height: 50px;
            width: 100%;
            border-top: 1px solid rgba(24, 28, 33, 0.06);
            .text {
                margin-top: 20px;
                color: var(--shadow-color);
            }
        }
    }
}

::ng-deep {

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        background-color: rgba(232, 237, 255);
    }
}