@import 'src/scss/buttons.scss';
@import "src/scss/buttons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 97vh;

  .header {
    background: gainsboro;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .heading {
      padding: 16px 16px 5px 16px;
      font-size: 20px;
      color: var(--directory-header-color);
      font-weight: 500;
      line-height: 1.5;
      margin: 0;
    }

    .cancel_icon {
      margin-right: 10px;

    }
  }

  .form {
    padding: 16px;

    .inputs {
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;

      .formfield {
        display: flex;
        flex-direction: column;

        .label {
          font-size: 12px;
          color: #96a5b8;
          font-weight: 500;
          line-height: 1.4;
          margin-bottom: 4px;
        }

        .mat-form-field {
          width: 385px;
        }
      }

      .maxlength {
        color: var(--error-color);
        margin-top: -22px;
        font-weight: 600
      }


    }

    .buttonGroup {
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      .cancelButton {
        background-color: transparent;
        border-radius: 10px;
        color: var(directory-font-color);
        border: 1.5px solid var(--directory-font-color);
      }

    }
  }

}

::ng-deep {
  .mat-dialog-container {
    border-radius: 20px;
    padding: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
}
  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.80);
  }
}

@media (max-width:1011px) {
  section {
    .form {
      .inputs {
        .formfield {
          .mat-form-field {
            width: 250px;
          }
        }
      }
    }
  }
}

@media (max-width:675px) {
  section {
    max-height: 600px;

    .form {
      .inputs {
        grid-template-columns: auto;
        gap: 0px !important;

        .formfield {
          .mat-form-field {
            width: auto;
          }
        }
      }
    }
  }
}