<div class="address">
    <label class="label" [ngClass]="labelStyle" >{{label}}</label>
    <mat-form-field appearance="outline" class="addressFormfield">
        <textarea [maxlength]="maxLength"  #textarea type="text" placeholder="Message" class="inputMessage" matInput cdkTextareaAutosize [formControl]="inputFormControl"
            [cdkAutosizeMinRows]="row" [cdkAutosizeMaxRows]="column"
            [placeholder]="label + 'Enter'"></textarea>
            <mat-error>{{inputFormControl | validate : label }}</mat-error>

    </mat-form-field>
    <p class="maxlength" *ngIf="maxLength">
        {{textarea.value.length}}/{{maxLength}}</p> 
</div>