
.formfield{
        display: flex;
        flex-direction: column;
        .label {
          font-weight: 500;
          color: #2f3031;
        //   margin-bottom: 5px;
        }
    .warn{
        color: var(--danger-color);
    }
    .field{
        position: relative;

        .inner{

            position: absolute;
            left: 7px;
            top: 7px;
        }
    }
}