<div class="formfield">
    <label class="label" [ngClass]="labelStyle" >{{ label|titlecase }} <span class="warn">{{labelSuggestation|titlecase}}</span>  </label>
    <mat-form-field appearance="outline" class="field"  >
      <input matInput readonly  (click)="fileInput.click()" />
      <!-- <input class="inner"  type="file" [accept]="fileType" [formControl]="inputFormControl"   /> -->
      <input type="file" class="inner" [accept]="fileType"  #fileInput (change)="fileChangeEvent($event)" />
      <mat-error  >{{ inputFormControl| validate : label }}</mat-error>
    </mat-form-field>
  </div>
