<mat-toolbar color="primary" class="example-toolbar">
    <div class="left">
        <img class="logo_dash" *ngIf="isExpanded ||smallWindow" src="/assets/applogo _dashBoard.png" alt="logo">
        <img class="logo_app" *ngIf="!isExpanded && !smallWindow" src="/assets/ic-logo.svg" alt="logo">
        <button class="menu_icon" (click)="expand()"><mat-icon>menu</mat-icon></button>
    </div>
    <div class="right">
        <div class="profile">
            <span>Shiva Saroj</span>
            <img class="user_image" src="/assets/default_male.jpg" alt="user_logo">
            <mat-icon [matMenuTriggerFor]="belowMenu" class="menu_button" > expand_more</mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below"  >
                <button mat-menu-item [routerLink]="'PROFILE'|absolutePath">  <mat-icon>person</mat-icon> My Profile </button>
                <button mat-menu-item [routerLink]="'CHANGE_PASSWORD'|absolutePath" ><mat-icon>key</mat-icon>Change Password </button>
                <button mat-menu-item  (click)="logOut()" ><mat-icon>logout</mat-icon> Sign out</button>
            </mat-menu>
        </div>
        <div class="help">
            <button class="help_button" (click)="help()" >Help</button>
        </div>
        <div class="notification">
            <mat-icon  (click)="notificationToggle()">notifications</mat-icon>
        </div>
    </div>
        <span class="muted_text">Last Login Feb-01-2023 12:25 PM from 172.31.76.182  </span>
</mat-toolbar>


<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container>