<section >
    <mat-toolbar color="primary" class="example-toolbar">
        <div class="left">
            <img class="logo_dash" *ngIf="isExpanded ||smallWindow" src="/assets/applogo _dashBoard.png" alt="logo" [routerLink]="'ADMIN'|absolutePath">
            <img class="logo_app" *ngIf="!isExpanded && !smallWindow" src="/assets/ic-logo.svg" alt="logo" [routerLink]="'ADMIN'|absolutePath">
            <button class="menu_icon" (click)="expand()"><mat-icon>menu</mat-icon></button>
        </div>
        <div class="right">
            <div class="profile">
                <span class="name">{{userData?.name}}</span>
                <img class="user_image" [src]="userData?.img" alt="user_logo">
                <mat-icon [matMenuTriggerFor]="belowMenu" class="menu_button"> expand_more</mat-icon>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item [routerLink]="'PROFILE'|absolutePath"> <mat-icon>person</mat-icon> My Profile
                    </button>
                    <button mat-menu-item [routerLink]="'CHANGE_PASSWORD'|absolutePath"><mat-icon>key</mat-icon>Change
                        Password </button>
                    <button mat-menu-item (click)="logOut()"><mat-icon>logout</mat-icon> Sign out</button>
                </mat-menu>
            </div>
            <div class="help">
                <button class="help_button" (click)="help()">Help</button>
            </div>
            <div class="notification">
                <mat-icon class="icon" (click)="notificationToggle()">notifications</mat-icon>
            </div>
        </div>
        <span class="muted_text">Last Login {{userData?.last_login}} </span>
    </mat-toolbar>

    <div *ngIf="isNotificationExpanded" class="notification_wraper icon"  [@slideInRight]>
        <mat-icon class="close_notification" (click)="isNotificationExpanded=false">close</mat-icon>
        <div  class="notification_box">
            <div class="card notify_card">
                <div class="card_header notify_header">
                    <h3 class="notify_heading">No new notifiation</h3>
                </div>
                <div class="card-body notify_body">
                    <p class="notify_content">--</p>
                </div>
            </div>
        </div>
    </div>
</section>