<section>
    <div class="leave_status">
        <div class="names">
            <span class="name">
                1 : Suyash Saxena
            </span>
            <span class="name">
                2 : HR (Human Resourse)
            </span>
        </div>
        <div class="progress_bar" style="background:red"></div>
    </div>
    <div class="main">

        <div class="table_container">
            <div class="header">
                <h3 class="heading">Leave Details</h3>
                
                <button *ngIf="compareTime"  mat-raised-button color="warn"  (click)="RevokeConfirmation()" >Revoke Leave</button>
            </div>
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let head of heading">

                        <tr>
                            <th scope="row" style="border-top:0px;">{{head?.heading}}</th>
                            <td class="text-right">{{Table_DATA[head.key]}}</td>
                        </tr>
                    </ng-container>

                    <tr>
                        <th scope="row">Uploaded Document</th>
                        <td class="text-right">
                            <span data-toggle="tooltip" data-placement="top" title="Download">
                                <a href="https://dashboard.appinventiv.com/admin/download?type=leave&amp;filename=">
                                    <!-- <button type="button" class="btn icon-btn btn-xs btn-outline-info waves-effect waves-light"> -->
                                    <mat-icon>download</mat-icon>
                                    <!-- </button> -->
                                </a>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="reason">
             <div [innerHTML]="sanitizer.bypassSecurityTrustHtml( Table_DATA?.reason)"></div>

            </div>
        </div>
        <div class="approve_container">
            <div class="approve_status">

                <div class="header">
                    <h3 class="heading">Approval Status</h3>
                </div>

                <div class="card_body">
                           <p> <span>{{Table_DATA?.level_1 |titlecase}}</span> {{Table_DATA?.status|titlecase}}</p>
                           <p> <span>{{Table_DATA?.level_2|titlecase}}</span> {{Table_DATA?.status|titlecase}}</p>

                </div>
            </div>
        </div>
    </div>

</section>