@import 'src/scss/buttons.scss';

section {
  .basic-card {
    //   padding: 0px !important;

    .header {
      .header-text {
        color: var(--profile-heading-color);
        font-size: 20px;
        padding: 0 1rem;
        font-weight: 500;
      }
    }

    form {
      padding: 1rem;
      
      display: grid;
      grid-template-columns: 80% 20%;
      width: 80%;
      .filter {
        display: flex;
        gap: 30px;
        .label {
          font-weight: 500;
        }
        .formfield {
          display: flex;
          flex-direction: column;
          width:-webkit-fill-available;
        }
      }
      .actions{
        padding: 30px;
        gap: 20px;
        button{
            margin-left: 1rem;
        }
        
        
      }
    }
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-flex {
    box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
    // width: max-content;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0px 12px 0px;
  }
  .mat-select-disabled .mat-select-trigger {
    cursor: not-allowed !important;
  }
}
