<section @slideInRight>
    <div class="basic-card">
      <div class="header">
        <p class="header-text">{{uiMessage.CHANGE_PASSWORD_HEADER}}</p>
      </div>
      <div class="content">
        <form [formGroup]="passwordResetForm"  (ngSubmit)="save()">
          <!-- <div class="inputs"> -->
            <div class="formfield 1">
              <label class="label">{{labelMessage.OLD_PASSSW0RD}}</label>
              <mat-form-field appearance="outline" class="increaseFormfield">
                <input appAvoidFirstSpace matInput [placeholder]="labelMessage.OLD_PASSSW0RD" formControlName="old_password">
                <mat-error>{{getControl('old_password')|validate:labelMessage.OLD_PASSSW0RD}}</mat-error>

              </mat-form-field>
            </div>
            <div class="formfield 2">
              <label class="label">{{labelMessage.NEW_PASSWORD}}</label>
              <mat-form-field appearance="outline" class="increaseFormfield">
                <input appAvoidFirstSpace matInput [placeholder]="labelMessage.NEW_PASSWORD" formControlName="new_password">
                <mat-error>{{getControl('new_password')|validate:labelMessage.NEW_PASSWORD}}</mat-error>
                
              </mat-form-field>
            </div>
            <div class="formfield 2">
              <label class="label">{{labelMessage.CONFIRM_PASSWORD}}</label>
              <mat-form-field appearance="outline" class="increaseFormfield">
                <input appAvoidFirstSpace matInput [placeholder]="labelMessage.CONFIRM_PASSWORD" formControlName="confirm_password">
                <mat-error>{{getControl('confirm_password')|validate:labelMessage.CONFIRM_PASSWORD}}</mat-error>
              </mat-form-field>
            </div>
          <!-- </div> -->
          <div class="classyButton">
            <button class="btn_primary" mat-raised-button >{{uiMessage.BUTTON}}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  