<section @slideInRight>
    <div class="basic-card">
      <div class="header">
        <p class="header-text">{{uiMessage.CHANGE_PASSWORD_HEADER}}</p>
      </div>
      <div class="content">
        <form [formGroup]="passwordResetForm"  (ngSubmit)="save()">
            <div class="formfield 1">
              <app-common-input [labelStyle]="'dark'" [label]="labelMessage.OLD_PASSSW0RD" [inputFormControl]="getControl('old_password')"></app-common-input>
            </div>
            <div class="formfield 2">
              <app-common-input [labelStyle]="'dark'" [label]="labelMessage.NEW_PASSWORD" [inputFormControl]="getControl('new_password')"></app-common-input>
            </div>
            <div class="formfield 2">
              <app-common-input [labelStyle]="'dark'" [label]="labelMessage.CONFIRM_PASSWORD" [inputFormControl]="getControl('confirm_password')"></app-common-input>

            </div>
          <div class="classyButton">
            <button class="btn_primary" mat-raised-button >{{uiMessage.BUTTON}}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  