<div class="modal_content">
    <div class="header" >
        <h3  class="heading">{{ 'Additional condition for rewards' }}</h3>
        <div class="cancel_icon" (click)="onNoClick()">
          <mat-icon class="icon">close</mat-icon>
        </div>
      </div>
    <div class="modal_body">
        <ul class="ml-4">
            <li class="mt-2 tncli">Bonus will be paid out once the referred candidate completes 3 months with the organization.</li>
            <li class="tncli">There is no cap on the number of referrals an employee can make. Every single hiring will make you eligible and all bonus will be paid accordingly.</li>
            <li class="tncli">If two or more employees refer the same candidate, only the first referrer will receive their bonus rewards.</li>
            <li class="tncli">Referral policy is applicable only on 1+ year of experience candidate.</li>
            <li class="tncli">Only permanent employees of Appinventiv will be eligible for referral amounts.</li>
        </ul>
    </div>
</div>