<div class="container">

    <div class="buy-coupons">
        <div class="left">
            <div class="amount">
                <h2>Amount Due</h2>
                <p>Available coupon for purchase: xxxx</p>
            </div>
            <h3>
                ₹75
            </h3>
            <div class="details">
                <p class="text-muted">
                    Note: Amount due need to paid in cash in account office.
                </p>
                <button (click)="viewDetails()" >
                    View Details
                </button>

            </div>
        </div>

        <div class="right">
            <div class="purchase">

                <button mat-button class="btn_primary" (click)="purchaseCoupons()" >     + Purchase Coupons    </button>
            </div>
            <p class="text-muted">
                Note: You can purchase/cancel a coupon for the upcoming day before 6 p.m. today.
            </p>
        </div>
    </div>    

    <div class="main mt-10 " >
        <div class="table-heading">

            <h2>{{monthNames[currentMonth]}} {{currentYear}}</h2>
            <app-coupon-legend> </app-coupon-legend>
        </div>
        <app-lunch-calendar [myCalendar]="myCalendar" [options]="options" (calendarData)="updateCalendarData($event)"  >
        </app-lunch-calendar>

    </div>
</div>
