@import "src/scss/commonscss.scss";
@import 'src/scss/buttons.scss';


.container {

    .buy-coupons {
        display: grid;
        grid-template-columns: 55% 43%;
        column-gap: 2%;
        width: 95%;
        margin: auto;
        margin-top: 2rem;

        .left {
            background-color: #fff;
            border: 1px solid #DCE2E9;
            display: grid;
            border-radius: 5px;
            padding: 6px 1rem;

            .amount {
                @include flex(center, space-between);
                h2{
                    font-size: 1.2rem;
                }
                p {
                    color: blue;
                    font-size: 0.89rem;
                }
            }

            h3 {
                color: blue;
                font-size: 2rem;
            }

            .details {
                p {
                    margin-bottom: 0px;
                }

                button {
                    height: 32px;
                    width: 112px;
                    cursor: pointer;
                    border: 1px solid gray;
                    background-color: #fff;
                    color: blue;
                    border-radius: 5px;
                }

                @include flex(center, space-between);
            }
        }

        .right {
            display: grid;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #DCE2E9;
            border-radius: 5px;
            padding: 6px 1rem;

            .purchase {
                @include flex(center, center);
            }

            button {
                font-size: 0.89rem;
                // @include blue-button(2.5rem,18rem);
            }
        }
    }

    .main {
        border-radius: 1rem;
        background-color: #fff;
        width: 95%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 10px;
        padding: 2%;
        overflow: auto;

        .table-heading {
            @include flex(center, space-between);
            h2{
                font-size: 1.5rem;
            }
            .legend {
                @include flex(center, flex-start);
                gap: 1rem;

                span {
                    font-size: 1.1rem;
                    padding-right: 5px;
                }

                .coupon-purchased {
                    color: #a4ffcc;
                    background-color: #a4ffcc;
                }

                .coupon-available {
                    background-color: #bdc8fa;
                    color: #bdc8fa;
                }

                .locked {
                    color: #bfbfbf;
                    background-color: #bfbfbf;
                }

                .holiday {
                    color: #ff989e;
                    background-color: #ff989e;
                }

            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        .buy-coupons {

        grid-template-columns: auto;
        gap: 1rem;
        .right{
            button{
                font-size: 0.8rem;
                border: none;
            }
        }
        }
    }
}