<section>
    <div class="container">
        <div class="left">
            <h3 class="hero_title">Objective :</h3>
            <p class="hero_paragraph">
                Share your innovative startup ideas with us, get funding from us and
                grow on your own. We want to give the young and brilliant ideas some
                shape and nurture them to the fullest to become potential competitors in
                the market. Validate your idea, learn and grow from here.
            </p>
            <ul>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
            </ul>
            <h3 class="hero_title">Story about our Angel Investor (AI)


                <h4 class="name">Saurabh Singh</h4>
            </h3>
            <ul>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deserunt
                    ullam labore nam dicta nobis aperiam atque nemo officiis fuga.
                </li>
            </ul>
            <p class="hero_paragraph">
                Founded passion driven niche startups where he served many Top Fortune
                companies & leading brands in making their Mobile Strategy successful as
                a CEO & Founder of 250+ people company AppStudioz "India's leading
                mobile app development company" ​(★Acquired in 2014). He also Co-founded
                TechAhead in 2009 & was founding partner at C&B Electronics.
            </p>
            <button mat-raised-button (click)="toAddPitch()" class="btn_primary">Share Your Idea</button>
        </div>
        <div class="right">
            <div class="back_ground_img">
                <img src="/assets/hero-media-illustration-light.svg" alt="bg_image" />
            </div>
            <div class="main_img">
                <img src="/assets/star.png" alt="bg_image" />
            </div>
        </div>
    </div>
</section>