@import 'src/scss/buttons.scss';
@import 'src/scss/dashbord-card-heading.scss';
@import 'src/app/modules/features/modules/users/assets/assets.component.scss';
section {


    .request {
        background-color: #fff;
        border-radius: 5px;

        .request_button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid rgba(24, 28, 33, 0.06);
            padding: 0.5rem 1.3rem;
        }

        form {
            padding: 1rem 1.3rem;
            .row {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 1rem;
            }

            .action {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .main {
        background-color: #fff;
        margin-top: 1rem;
        padding: 1.2rem;
        border-radius: 5px;

        .header {
            .heading {
                color: var(--header-text-color);
            }
        }

    }
}