@import 'src/scss/buttons.scss';
section {
    .request {
        background-color: #fff;
        border-radius: 5px;

        .request_button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid rgba(24, 28, 33, 0.06);
            padding: 0.5rem 1.3rem;
        }

        form {
            padding: 0 1.3rem;

            max-height: 0;
            overflow: hidden;
            transition: max-height 0.8s ease-in-out;
            .row {
                padding: 1rem 0rem;
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 1rem;
            }
      

            .action {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1.3rem;
            }

        }
    }

    .table {
        margin-top: 1rem;

    }
}