@import 'src/scss/buttons.scss';
section {
  table {
    width: 100%;
    border-radius: 10px;

    th {
      // text-align: left;
      width: fit-content;
    }

    td {
      .name {
        display: flex;
        align-items: center;

        .icon {
          color: #F40D36;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .green{
          color: green;
          font-size: 20px;
        }
        .red{
          color: #F40D36;
          font-size: 20px;

        }
      }

      .action {
        a{
          text-decoration: none;
        }
        mat-icon {
          cursor: pointer;
        }
        .action_button{
          background:none;
          border: none;
          display: flex;
          align-items: center;
     
        }
        .btn_add_new{
          background-color: #fff;
          color: orange;
        }
      }
    }

    mat-icon {
      margin-right: 4px;
    }
  }
}

:host::ng-deep {
  .mat-paginator {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

  }
  .mat-sort-header-container {
    text-align: center;
    width: fit-content;
  }
}