$primary: #000;
$backGroundColor: #fff;

section {
  table {
    width: 100%;
    border-bottom: 1px solid gainsboro;


    th {
      color: $primary;
      background-color: #fff;
      font-size: 0.8rem;
      text-align: center;
      width: fit-content;
    }

    tr {
      text-align: center;
    }

    td {
      color: $primary;
      .action{
        mat-icon{
          cursor: pointer;
        }
      }
    }

    mat-icon {
      color: $primary;
      margin-right: 4px;
    }
  }
}
:host::ng-deep {
  
  //   th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  //     padding-left: 0px;
  // }
  // th.mat-header-cell:first{
  //   padding: 0;
  // }
  .mat-sort-header-container{
    text-align: center;
    width: fit-content;
  }
}