@import 'src/app/modules/features/modules/dsr/my-dsr/my-dsr.component.scss';

section{
    .add_leave{

        .lunchcoupon_maintop{
            h4{
                color: #232328;
                font-size: 1.9rem;
                // font-weight: 500;
            margin-bottom: 13px;
        }
        p{
            color: #606167;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
        }
        }
    }
}