section {
    width: 100%;
    background-color:var(--white-background-color);
  .heading {
    width: 100%;
    h3 {    
      font-size: 20px;
      color: #3246d3;
      font-family: "Segoe UI";
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
    }
  }
}
