<section>
    <div class="card">
        <div class="header">
            <a [routerLink]="['PROJECT_DETAILS'|absolutePath,121]" class="heading">  Trainee Project Angular </a>
            <mat-icon class="more">more_horiz</mat-icon>
        </div>
        <div class="main">
            <div class="row">
                <div class="team">
                    <mat-icon>person</mat-icon> 1
                </div>
            </div>
            <div class="row">
                <p class="status">In Progress</p>
            </div>
      
            <div class="row">
                <ul class="project_item">
                    <li>
                        <mat-icon class="icons">group</mat-icon> <span>3</span> Resources
                    </li>
                    <li>
                        <mat-icon class="icons"></mat-icon><span>N/A</span> Hours
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="avatar_group">
                    <div class="avatar_group_item">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Shiva Saroj" data-original-title="Rabban Ahmad">
                            <img src="https://dashboard.appinventiv.com/uploads/profile/default_male.jpg"    class="rounded-circle avatar-sm" alt="Shiva Saroj">
                        </a>
                    </div>
                    <div class="avatar_group_item">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Shiva Saroj" data-original-title="Rabban Ahmad">
                            <img src="https://dashboard.appinventiv.com/uploads/profile/default_male.jpg"    class="rounded-circle avatar-sm" alt="Shiva Saroj">
                        </a>
                    </div>
                    <div class="avatar_group_item">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Shiva Saroj" data-original-title="Rabban Ahmad">
                            <img src="https://dashboard.appinventiv.com/uploads/profile/default_male.jpg"    class="rounded-circle avatar-sm" alt="Shiva Saroj">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <h4>Project Completed</h4>
           <span>0</span>
        </div>
    </div>

</section>