* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;

    img {
        padding: 2rem;
    }

    .mat-card {
        padding: 0;
        border-radius: 2px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        top: 50%;
        transform: translate(0, -50%);
        width: 380px;

        mat-form-field {
            width: 100%;
            padding: 3px auto;
        }

        .reset_heading {
            color: var(--shadow-color);
            border-width: 100%;
        }

        mat-card-content {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 25px;
            p {
                border-top: 1px solid var(--shadow-color);
                padding-top: 1.25rem;
            }
        }

        .btn_group {
            button {
                color: var(--button-background-color);
                border: 1px solid var(--button-background-color);
                border-radius: 0;
                width: 100%;
                font-size: 0.813rem;

                &:hover {
                    color: #fff;
                    background-color: var(--button-background-color);
                }
            }

            .login_icon {
                font-size: 1.25rem;
            }

            margin-bottom: 10px;
        }


        mat-card-actions {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                color: var(--button-background-color);
                border: 1px solid var(--button-background-color);
                border-radius: 0;
                width: 100%;
                font-size: 0.813rem;

                &:hover {
                    color: #fff;
                    background-color: var(--button-background-color);
                }
            }
        }

        .bottom_text {
            text-align: center;
            height: 50px;
            width: 100%;
            border-top: 1px solid rgba(24, 28, 33, 0.06);

            .text {
                margin-top: 1.25rem;
                color: var(--shadow-color);
            }
        }
    }
}