@import 'src/scss/dashbord-card-heading.scss';
@import 'src/scss/commonscss.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    header {
        margin-bottom: 25px;
        .emp_basic_info {

            display: flex;
            -ms-flex-align: center;
            align-items: center;

            .emp_image {
                margin-right: 20px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }

            .emp_name {
                span {
                    font-size: 24px;
                    font-weight: 200;
                }

                h2 {
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    main {

        .main_wraper {
            display: grid;
            grid-template-columns: 32% auto 32%;
            border-radius: 8px;

            .referral_bonus {
                margin-right: 10px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .referral_bonus_cards {
                    gap: 1rem;
                    display: grid;
                    grid-template-columns: auto auto;
               
                }

                .heading {
                    font-family: "Lato";
                    font-size: 16px;
                    color: #199CFF;
                    font-weight: 600;
                    line-height: 1.9;
                    text-transform: uppercase;
                }

            }
            .latest_opeanings{
                border-right: 1px dashed #ccc;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            
        }
        .latest_appinventiv{
            display: flex;
        }
    }
}