<section>
    <header>
        <div class="emp_basic_info">
            <div class="emp_image">
                <img src="/assets/default_male.jpg" alt="user_image">
            </div>
            <div class="emp_name">
                <span>Hello!</span>
                <h2>Shiva Saroj</h2>
            </div>
        </div>
    </header>
    <main>
        <div class="main_wraper">

            <div class="latest_opeanings dashboard_card">
                <app-latest-job-opening></app-latest-job-opening>
            </div>
            <div class="referral_bonus dashboard_card">
                <h3 class="heading">Our Referral Bonus Program</h3>
                <div class="referral_bonus_cards">

                    <ng-container *ngFor="let data of referralData">
                        <app-referral-bonous-program [referalData]="data"></app-referral-bonous-program>
                    </ng-container>
                </div>
            </div>
            <div class="new_members dashboard_card">
                <app-new-family-member></app-new-family-member>
            </div>
        </div>

        <div class="latest_appinventiv dashboard_card">
            <app-carousel [showPoints]="true" [listToShow]="dataSource" [carouselConfig]="carouselConfig"></app-carousel>

            <ng-template #listofDivs>
                <!-- <div class="appreciation"> -->
                    <app-appreciation></app-appreciation>
                <!-- </div> -->
            </ng-template>

           <ng-template #listofDivs>
                <!-- <div class="work_anniversary"> -->
                    <app-work-anniversary></app-work-anniversary>
                <!-- </div> -->
            </ng-template>
            <ng-template #listofDivs>
                <!-- <div class="birthday_celebration"> -->
                    <app-birthday-celebration></app-birthday-celebration>
                <!-- </div> -->
            </ng-template>

            <ng-template #listofDivs>
                <!-- <div class="awards"> -->
                    <app-awards></app-awards>
                <!-- </div> -->
            </ng-template> 


        </div>
        <div class="gallery">
            <app-gallery></app-gallery>
        </div>



    </main>

</section>