@import "src/scss/buttons.scss";
@import "src/app/modules/features/modules/dashboard/components/common-card/common-card.component.scss";
// @import 'src/scss/commonscss.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
//   main {
//     .message {
//       font-family: "Lato";
//       font-size: 12px;
//       color: #606167;
//       font-weight: 500;
//       line-height: 1.9;
//     }
//   }
}
