<section @slideInRight *ngIf="basicInformationForm">
    <div class="wraper">

        <div class="header">
            <p class="header-text">{{uiMessage.HEADER}}</p>
        </div>
            <form [formGroup]="basicInformationForm" (ngSubmit)="save()" >
                <div class="row ">
                  
                     <app-common-input directiveName="noSpecialChar" [labelStyle]="'dark'" [label]="labelMessage.FIRST_NAME" [inputFormControl]="getControl('first_name')"></app-common-input>
                     <app-common-input [labelStyle]="'dark'" [label]="labelMessage.LAST_NAME" [inputFormControl]="getControl('last_name')"></app-common-input>
                     <app-common-date-picker  [placeHolder]="'DOB'"  [label]="labelMessage.DATE_OF_BIRTH" [inputFormControl]="getControl('dob')">"></app-common-date-picker>
                     <app-common-dropdown [label]="labelMessage.GENDER" [data]="genderValue" [dropdownDownControlName]="getControl('gender')" ></app-common-dropdown>
                     <app-common-dropdown [label]="labelMessage.MARITAL_STATUS" [data]="maritalStatusValue" [dropdownDownControlName]="getControl('marital_status')" ></app-common-dropdown>
                     <app-common-input [labelStyle]="'dark'" [label]="labelMessage.CONTACT" [inputFormControl]="getControl('contact_number')"></app-common-input>
                </div>

                <div class="exprience">
                    <div class="total-exp">
                        <p class="label heading-exp">
                            {{uiMessage.TOTAL_WORK_EXP}}
                        </p>
                        <div class="inputs">
                            <app-common-input [minValue]="1950" [maxValue]="2023" [minLength]="4" [maxLength]="4" [labelStyle]="'dark'" [label]="labelMessage.YEAR" [inputFormControl]="getControl('tot_exp_years')"></app-common-input>

                            <app-common-input  [minLength]="1" [maxLength]="12" [labelStyle]="'dark'" [label]="labelMessage.MONTH" [inputFormControl]="getControl('tot_exp_month')"></app-common-input>

                        </div>
                    </div>

                    <div class="total-exp">
                        <p class="label heading-exp">
                            {{uiMessage.RELEVANT_EXP}}
                        </p>

                        <div class="inputs">
                            <app-common-input [minLength]="4" [maxLength]="4"  [labelStyle]="'dark'" [label]="labelMessage.YEAR" [inputFormControl]="getControl('rel_exp_year')"></app-common-input>

                            <app-common-input [minLength]="1" [maxLength]="2"  [labelStyle]="'dark'" [label]="labelMessage.MONTH" [inputFormControl]="getControl('rel_exp_month')"></app-common-input>

                        </div>
                    </div>
                </div>


                <div class="row4 address">
                <app-common-text-area [row]="3" [column]="10" [label]="labelMessage.ADDRESS" [labelStyle]="'light'" [inputFormControl]="getControl('address')" ></app-common-text-area>

                </div>
                <div class="row5  classyButton">
                    <button class="btn_primary" mat-raised-button type="submit" >{{uiMessage.BUTTON}}</button>
                </div>
            </form>
    </div>

</section>