@import 'src/scss/buttons.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 0px !important;
    
    .wraper {
        background-color: #fff;
        border-radius: 11px;

        .header {
            border-bottom: 1px solid gainsboro;

            .header-text {
                color: #3246d3;
                font-size: 24px;
                word-spacing: 1px;
                padding: 11px 25px 11px 15px;
                font-weight: 500;
            }

        }

        form {
            padding: 20px;

            .row {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 1.2rem;
            }


            .row3 {
                display: grid;
                grid-template-columns: auto auto;

                .inputs {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1.2rem;
                }

            }

            .saveButton {
                border: none;
                cursor: pointer;
                color: white;
            }
        }
    }

}


section {
    @media only screen and (max-width: 1500px) {
        form {
            .row3 {
                grid-template-columns: auto;
            }
        }
    }

    @media only screen and (max-width: 750px) {
        form {
            .row {
                grid-template-columns: auto;
            }

            .row3 {
                .inputs {
                    grid-template-columns: auto;

                }
            }
        }
    }
}