@import 'src/scss/buttons.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 0px !important;

    .wraper {
        background-color: #fff;
        border-radius: 11px;

        .header {
            border-bottom: 1px solid gainsboro;

            .header-text {
                color: #3246d3;
                font-size: 1.5rem;
                word-spacing: 1px;
                padding: 11px 25px 11px 15px;
                font-weight: 500;
            }

        }

        form {
            padding: 20px;

            .row {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 1.2rem;
            }


            .exprience {
                display: grid;
                grid-template-columns: auto auto;
                gap: 1.2rem;

                .inputs {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1.2rem;
                }

            }

            .saveButton {
                border: none;
                cursor: pointer;
                color: white;
            }
        }
    }

}


@media only screen and (max-width: 1500px) {
        section {
            .wraper{

                form {
                    .exprience {
                        
                        grid-template-columns: auto;
                    }
            }
        }
    }
}


@media only screen and (max-width: 780px) {
    section {
        .wraper{
            .header {
                border-bottom: 1px solid gainsboro;
    
                .header-text {
                    font-size: 1rem;
                    word-spacing: 1px;
                    // padding: 5px 12px 5px 6px;
                    margin: 0;
                }
    
            }
        form {
            .row {
                grid-template-columns: auto;
            }

            .exprience {
                .inputs {
                    grid-template-columns: auto;

                }
            }}
        }
    }
}

@media only screen and (max-width: 1270px ) and (min-width: 1180px ) {
    section {
        .wraper{

            form {
                .row {
                    
                    grid-template-columns: auto auto;
                }
        }
    }
}
}