    .btn_primary {

        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(150, 165, 184, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
        border-radius: 4px;
        color: #FFFFFF;
        transition-delay: 1ms;
        padding: 0px 1rem;
        font-size: 0.9rem;
        
        &:hover {
            background: #31b8ff;
            color: #fff
        }
    }

    .btn_cancel {
        border: 1.5px solid rgba(150, 165, 184, 0.5);
        background-color: #ffffff;
        border-radius: 4px;
        padding: 0px 1rem;
        border: 1.5px solid rgba(150, 165, 184, 0.5);
        font-family: "Lato";
        font-size: 0.9rem;
        color: #96A5B8;
        font-weight: 500;
        transition-delay: 2ms;
        &:hover{
            color: #199CFF;

        }
    }