:root {
  --button-background-color: #26b4ff;
  --shadow-color: #a3a4a6;
  --muted-text-color:#a3a4a6;
  --side-nav-text-color:#2c2c2c;
  --dashboard-backgroud-color:rgb(243, 246, 252);
  --disabled-color:#8897AA;
  --side-nav-active-color:#3246d3;
  --profile-active-link-background-color:#26B4FF;
  --profile-link-color:#8c8e90;
  --white-background-color:#fff;

  
}
