:root {
  --button-background-color: #26b4ff;
  --shadow-color: #a3a4a6;
  --muted-text-color: #a3a4a6;
  --side-nav-text-color: #2c2c2c;
  --dashboard-backgroud-color: rgb(243, 246, 252);
  --disabled-color: #8897aa;
  --side-nav-active-color: #3246d3;
  --profile-active-link-background-color: #26b4ff;
  --profile-link-color: #8c8e90;
  --white-background-color: #fff;
  --caurosel-button-color: rgb(55, 134, 255);
  --border-color: rgba(150, 165, 184, 0.3);
  --profile-heading-color:#3246d3;
  --directory-card-background-color:rgb(246,246,235);
  --award-dot-color:#36C4CD;
  --primary-color:#26b4ff;
  --button-color: #26b4ff;
  --error-color:red;
  --danger-color:#d9534f;
  --success-color:#02BC77;
  --font-color:gray;
  --button-text-color:white;
  --border-color:gainsboro;
  --layout-content-background:#F4F9FF;
  --sidenav-hover-color:#3246d3;
  --sidenav-scroll-color:#888;
  --job-background-color: #F3F7FC;
  --header-text-color:#3246d3;
  --directory-header-color:#199CFF;
  --directory-font-color:#96A5B8;
  --directory-card-background-color:#f7f5ec;
  --award-text-color:#606167;
  --award-img-name-color:darkgrey;
  --birthday-dot-color:#36C4CD;
  --workAnniversray-dot-color:#1657C8;
  --hover-color:#1369ce;
  --cancel-button-color:#E5E5E5;
  --formField-border-color:#d8d8d8;
  --header-backgrond-color:#F3F3F3;
  --carousel-button-bacground:#f1f1f1;
  --viewmoreDialog-color:#485665;
  --image-text-color:#96A5CF;
  --light-gray: #eaeaea;
  --blue: #3073b9;
  --error_outline_icon-color:#3fc3ee;
  --instruction-helpdialog-color:#545454
  
  
}