.dashboard_card {
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border-radius: 8px;
  margin-bottom: 20px;
  .heading {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 1.5rem;
    h3 {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }
  }
}
.latest_appinv_cards_heading {
  font-family: "Lato";
  // font-size: 12px;
  color: #606167;
  font-weight: 600;
  line-height: 1.9;
  ::before {
    content: "";
    height: 13px;
    width: 13px;
    background-color: var(--award-dot-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  display: flex;
  font-size: 20px;
}
.dear {
  font-family: "Lato";
  font-size: 12px;
  color: #606167;
  font-weight: 600;
  line-height: 1.9;
}

.latest_appinv_cards_description {
  font-family: "Lato";
  font-size: 14px;
  color: #606167;
  font-weight: 500;
  line-height: 1.9;
}
.cheers {
  font-family: "Lato";
  font-size: 12px;
  color: #606167;
  font-weight: 700;
  line-height: 1.9;
  margin-bottom: 0;
}
.comp_name {
  font-family: "Lato";
  font-size: 12px;
  color: #199cff;
  font-weight: 600;
  line-height: 1.9;
  margin-bottom: 0;
}
