@import "src/scss/colors.scss";
.heading {
    // font-family: "Lato";
    font-size: 20px;
    color: #231E1E;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.border_btm{
    border-bottom: 1px solid var(--border-color);

}

