.header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    min-height: 8rem;

    .heading {
        font-size: 34px;
        font-weight: bold;
        font-family: 'Segoe UI';
        color: #3246d3;
        line-height: 1.35;
        height: unset;
    }

    .projectTagsWrapper {
        min-width: 20rem;
        margin-bottom: 20px;
        padding: 20px 13px;
        border-radius: 11px;
        background: #fff;

        .tagHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            color: #2f3031;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            font-family: 'Segoe UI';
            padding-bottom: 10px;
            position: relative;

            .btn {
                top: -2px;
                right: 0;
                position: absolute;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 21px;
                padding: 0;
                vertical-align: top;
                background: #3246d3;
                cursor: pointer;
                border: none;
            }
        }
    }
}