* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 400px;

    .close {
        position: absolute;
        top: -25px;
        right: -24px;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        background: #f3f7fc;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 2rem;

        figure {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .basic_details {

            display: flex;
            flex-direction: column;
            padding: 0 20px;
            line-height: 1.3;
            font-size: 0.9rem;
            color: #6c7e92;

            :first-child {
                color: #353c44;
                font-weight: 500;
            }
        }
    }

    main {
        width: 100%;
        padding: 15px;

        .upper {
            margin-bottom: 2rem;
        }
    }

    footer {
        padding: 15px;
        font-size: 1rem;
        color: #353c44;
        font-weight: 500;
    }



}



@media only screen and (min-width: 1000px) {
    ::ng-deep {
        .mat-dialog-container {
            // width: 40% !important;

            display: block;
            padding: 24px;
            border-radius: 4px;
            box-sizing: border-box;
            overflow: auto;
            outline: 0;
            width: 100%;
            height: 100%;
            min-height: inherit;
            max-height: inherit;
        }

        .cdk-overlay-pane {
            justify-content: center !important;
        }
    }
}