<section>
  <mat-icon mat-dialog-close class="close" >close</mat-icon>
  <div class="main_wraper">
    <div class="header">
      <div class="reviewed_by">
        PROJECT NAME: <span class="target_text">Trainee Project Angular </span>
      </div>
      <div class="reviewed_by">
        REVIEWED BY: <span class="target_text"> Rabban Ahmad (Tech Lead)</span>
      </div>
    </div>
    <div class="main">
      <div class="hounour_wrap">
        <h4>HONORS</h4>
        <!-- <ul></ul> -->
        <span>N/A</span>
      </div>
      <div class="flex_row">
        <div class="rating_sum_head">
          <b class="number total">{{((data.technical_rating+data.ownership_rating+
            data.teamWork_rating+data.process_rating)/4)|number :'1.1-2'}}</b>

        </div>
        <div class="rating_sum_head">
          <span class="tech">Technical Skills</span>
          <b class="number">{{data.technical_rating|number :'1.1-2'}}</b>
        </div>
        <div class="rating_sum_head">
          <span class="tech">Ownership of Delivery</span>
          <b class="number">{{data.ownership_rating|number :'1.1-2'}}</b>
        </div>
        <div class="rating_sum_head">
          <span class="tech">Teamwork</span>
          <b class="number">{{data.teamWork_rating|number :'1.1-2'}}</b>
        </div>
        <div class="rating_sum_head">
          <span class="tech">Process Adherence</span>
          <b class="number">{{data.process_rating|number :'1.1-2'}}</b>
        </div>
      </div>
    </div>
  </div>
</section>