<p>Home / Trainings / Training Details</p>
<section>
    <div class="outer_header">
        <h3 class="outer_heading">Micro Frontend Angular</h3>
        <button mat-raised-button class="btn_danger" >Cancel Enrollment</button>
    </div>
    <div class="row 1">
        <div class="inner_header">
            <h3 class="inner_heading">Training Details</h3>
        <button mat-raised-button class="btn btn_cancel" >Proposed</button>
            
        </div>
        <div class="inside_row training_details">
            <div class="title">
                <div class="form_data">
                    <label>{{ LABELS.TITLE }} : </label>
                    <p>  Micro Frontend Angular Training</p>
                </div>
            </div>
            <div class="data">
                <div class="form_data">
                    <label>{{ LABELS.DEPARTMENT }} :</label>
                    <p>Angular</p>
                </div>
                <div class="form_data">
                    <label>{{ LABELS.MODE }} :</label>
                    <p>Online</p>
                </div>
                <div class="form_data">
                    <label>No. Of Seats :</label>
                    <p>50</p>
                </div>
                <div class="form_data">
                    <label>  Training duration :</label>
                    <p>1.5 Hrs</p>
                </div>
                <div class="form_data">
                    <label>{{ LABELS.START_DATE }} :</label>
                    <p>Feb-28-2022</p>
                </div>
                <div class="form_data">
                    <label>{{ LABELS.END_DATE }}:</label>
                    <p>Apr-28-2022</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row 2">
        <div class="inner_header">
            <h3 class="inner_heading">Description</h3>
        </div>
        <div class="description">
            Micro Frontends is to think about a website or web app as a composition of features which are owned by independent teams.
             Each team has a distinct area of business or mission it cares about and specialises in. A team is cross functional and develops its features end-to-end, from database to user interface.
        </div>
    </div>
    <div class="row 3">
        <div class="inner_header">
            <h3 class="inner_heading">Support details</h3>
        </div>
        <div class="description">
            This is online training, so no support required.
        </div>
    </div>
</section>