@import 'src/scss/buttons.scss';
@import 'src/scss/dashbord-card-heading.scss';
@import 'src/scss/radio-button.scss';

section {
    .leave {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
    }

    .leave_card_container {
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 1.5rem;
        gap: 0.8rem;
        border-radius: 4px;

        .icon {
            font-size: 2.23rem;
            display: table;
            color: var(--success-color);
        }

        .leave_card {
            .text_muted {
                font-size: 85%;
                font-weight: 400;
                color: #969697;
                line-height: 1.1rem;

            }

            .progress {
                display: flex;
                height: 0.25rem;
                overflow: hidden;
                font-size: 0px;
                background-color: rgba(24, 28, 33, 0.03);
                border-radius: 0;
            }
        }
    }

    .add_leave {
        margin-top: 2rem;
        background-color: #fff;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom: 1px solid #e6e7e9;
            padding: 1.5rem 1rem;

            .heading {
                color: var(--header-text-color);
                margin: 0;
            }
        }

        form {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 1rem;

            .row {
                margin: 1rem 0.5rem;
            }

            .half_day {
                display: flex;
                justify-content: flex-start;
                margin-left: 0.5rem;
                margin-bottom: 1.5rem;
                gap: 2rem;
                align-items: center;
                flex-wrap: wrap;
                .radio_buttons {
                    margin-left: 8rem;
                }
            }

            .date {
                display: grid;
                grid-template-columns: auto auto;
                gap: 2rem;
                margin-left: 0.5rem;
            }

            .right {
                margin: 1rem;
                  overflow: auto;

            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .save {
                    background-color: var(--success-color);
                    margin-right: 1rem;
                    color: #fff;
                }

                .cancel {
                    color: #fff;

                    background-color: var(--danger-color);
                }
            }
        }
    }

    .table {
        margin-top: 1rem;
        padding: 1rem;
        background-color: #fff;
        overflow: auto;
    }
}

@media only screen and (max-width: 900px) {
    section {

        .leave {
            grid-template-columns: auto ;
        }
    }
}
@media only screen and (max-width: 1000px) {
    section {

       .add_leave{
        form{
            grid-template-columns: auto;
            .date {
                grid-template-columns: auto;
    
            }
        }
       }
    }
}