<div class="modal-dialog covid">
    <div class="modal-content">
        <div class="modal-body">
            <div class="covidWrapper">
                <div class="slidesection">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                        
                        
                                                    
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1861px, 0px, 0px); transition: all 0.25s ease 0s; width: 4965px;"><div class="owl-item cloned" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/4.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Telemedicine consultation </h4>
                                <p>Consult doctors or certified medical practitioners remotely and reduce the risk of transmission. Telemedicine consultation is the best alternative for steady and quick medical services.
                                </p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/5.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Fight the virus </h4>
                                <p>Take simple and constructive steps to help fight the spread of Coronavirus like stay at home, wash hands often, wear masks, maintain social distancing and practice respiratory hygiene.
                                </p>
                            </div>
                        </div></div><div class="owl-item" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/1.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Wash ‘Em, Wash ‘Em Good </h4>
                                <p>Good hand washing is the first line of defense to stay safe from Covid-19. Respiratory viruses like Coronavirus spreads when the virus gets into your body through your eyes, throat, or nose. Most often, it happens through your hands.</p>
                            </div>
                        </div></div><div class="owl-item active" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/2.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Wear a mask</h4>
                                <p>Face masks, gloves and other protective gear can help stop the spread of coronavirus.
                                    Wearing a mask doesn’t imply that you disregard social distancing. In addition to social distancing, keep proper hygiene, especially, when you touch your mask.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/4.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Telemedicine consultation </h4>
                                <p>Consult doctors or certified medical practitioners remotely and reduce the risk of transmission. Telemedicine consultation is the best alternative for steady and quick medical services.
                                </p>
                            </div>
                        </div></div><div class="owl-item" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/5.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Fight the virus </h4>
                                <p>Take simple and constructive steps to help fight the spread of Coronavirus like stay at home, wash hands often, wear masks, maintain social distancing and practice respiratory hygiene.
                                </p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/1.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Wash ‘Em, Wash ‘Em Good </h4>
                                <p>Good hand washing is the first line of defense to stay safe from Covid-19. Respiratory viruses like Coronavirus spreads when the virus gets into your body through your eyes, throat, or nose. Most often, it happens through your hands.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 615.594px; margin-right: 5px;"><div class="item">
                            <figure>
                                <!-- <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/covid/2.gif" alt=""> -->
                            </figure>
                            <div class="player-info">
                                <h4>Wear a mask</h4>
                                <p>Face masks, gloves and other protective gear can help stop the spread of coronavirus.
                                    Wearing a mask doesn’t imply that you disregard social distancing. In addition to social distancing, keep proper hygiene, especially, when you touch your mask.</p>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
                </div>
                <div class="content-wrap">
                    <div class="content-box">
                        <h1 class="class-header">Need Help!</h1>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group detail">
                                    <p class="p-detail">
                                        Let us know if you are facing any issue because of the lockdown, We will be giving our best to take care of your problems, Please fill the form below and provide the required details, Concerned person will get in touch with you on the earliest.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" name="help_title" id="help_title" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="mobile_no">Mobile No.</label>
                                    <input onkeydown="checkphonenumber( event )" type="text" name="help_mobile_no" id="help_mobile_no" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input class="form-control" type="text" name="help_address" id="help_address">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea rows="3" class="form-control" name="help_description" id="help_description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="buttoon" class="btn btn-covid" data-dismiss="modal" name="btn-cancel">Cancel</button>
                                    <button type="buttoon" class="btn btn-covid" name="btn-save" id="btn-save">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="covid_loader" class="formloader-anim" style="display: none; ">
                <!-- <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-bricks">
                    <rect ng-attr-fill="{{config.c1}}" ng-attr-x="{{config.x}}" ng-attr-y="{{config.x}}" ng-attr-width="{{config.w}}" ng-attr-height="{{config.w}}" ng-attr-rx="{{config.radius}}" ng-attr-ry="{{config.radius}}" fill="#021d80" x="35.487" y="57.5" width="30" height="30" rx="5" ry="5">
                        <animate attributeName="x" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="-1.8333333333333333s" repeatCount="indefinite"></animate>
                        <animate attributeName="y" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="-1.3333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                    <rect ng-attr-fill="{{config.c2}}" ng-attr-x="{{config.x}}" ng-attr-y="{{config.x}}" ng-attr-width="{{config.w}}" ng-attr-height="{{config.w}}" ng-attr-rx="{{config.radius}}" ng-attr-ry="{{config.radius}}" fill="#01b2ff" x="57.5" y="12.5" width="30" height="30" rx="5" ry="5">
                        <animate attributeName="x" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="-1.1666666666666667s" repeatCount="indefinite"></animate>
                        <animate attributeName="y" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                    <rect ng-attr-fill="{{config.c3}}" ng-attr-x="{{config.x}}" ng-attr-y="{{config.x}}" ng-attr-width="{{config.w}}" ng-attr-height="{{config.w}}" ng-attr-rx="{{config.radius}}" ng-attr-ry="{{config.radius}}" fill="#fdbf5e" x="12.5" y="12.5" width="30" height="30" rx="5" ry="5">
                        <animate attributeName="x" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="-0.5s" repeatCount="indefinite"></animate>
                        <animate attributeName="y" calcMode="linear" values="12.5;57.5;57.5;57.5;57.5;12.5;12.5;12.5;12.5" keyTimes="0;0.083;0.25;0.333;0.5;0.583;0.75;0.833;1" dur="2" begin="0s" repeatCount="indefinite"></animate>
                    </rect>
                </svg> -->
            </div>
        </div>
    </div>
</div>