<section>
    <div class="container_wraper">
        <div class="left">

            <app-carousel   [listToShow]="dataSource" [carouselConfig]="carouselConfig" ></app-carousel>
            <ng-container *ngFor="let item of covid_precaution_advice">
                <ng-template #listofDivs>
                    <div class="card">
                        <h1 class="heading">{{item.title}} </h1>
                        <p class="description">{{item.description}}</p>
                    </div>
                </ng-template>
            </ng-container>
        </div>
        <div class="right">
            <div class="content_box">
                <h1 class="class_header">Need Help!</h1>
                <div class="detail">
                    <p class="p_detail">
                        Let us know if you are facing any issue because of the lockdown, We will be giving our best to
                        take care of your problems, Please fill the form below and provide the required details,
                        Concerned person will get in touch with you on the earliest.
                    </p>
                </div>
                <form [formGroup]="covidHelpForm" (ngSubmit)="save()">

                    <app-common-input [labelStyle]="'light'" [label]="'Title'"
                        [inputFormControl]="getControl('title')"></app-common-input>
                    <app-common-input [labelStyle]="'light'" [label]="'Mobile No.'"   [inputFormControl]="getControl('contact_number')"></app-common-input>
                    <app-common-input [labelStyle]="'light'" [label]="'Address'"
                        [inputFormControl]="getControl('address')"></app-common-input>
                    <app-common-text-area [row]="3" [column]="10" [label]="'Description'" [labelStyle]="'light'"
                        [inputFormControl]="getControl('description')"></app-common-text-area>
                    <div class="actions">
                        <button class="btn_cancel cancel" mat-raised-button type="reset" mat-dialog-close> Cancel</button>
                        <button class="btn_primary save" mat-raised-button type="submit">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



