section {
    background-color: #fff;
    padding: 1rem;

    .card_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 15px 0;
        border-bottom: 1px solid rgba(150, 165, 184, 0.5);

        .heading {
            margin: 0;
            font-size: 1.4rem;
        }
        .more{
            .menu_button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba(36, 116, 255, 0.2);
                color: #0059ff;
                cursor: pointer;
            }
                .text{
                    font-size: 12px;
                }
        }
    }

    .jd_summary {
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem 0.5rem;
        .heading {
            margin: 0;
            font-size: 1.4rem;

        }
        .form_data {
            display: flex;
            align-items: center;
            color: #606167;
            font-weight: 400;
            line-height: 1.5;
            margin: 0 10px 0 0;
            padding: 4px 0;
            .text_primary{
                color: #199CFF;
            }
            p {
                margin: 0;
            }

            label {
                min-width: 160px;
            }
        }
    }

    .technical_skill {
        padding: 0 0 15px 0;
        .heading {
            font-size: 1.4rem;

        }

        li,
        ol,
        ul {
            list-style-type: none;
        }

        ul {

            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            display: flex;

        }

        li {
            padding: 6px 12px;
            border-radius: 4px;
            background-color: #F1F9FF;
            text-align: center;
            margin: 5px;
            font-size: 14px;
            color: #199CFF;
            font-weight: 500;
            line-height: 1.5;
        }

        .header {
            border-bottom: 1px solid rgba(150, 165, 184, 0.5);

        }
        .jd_descp {
            background-color: #F4F8FF;
            padding: 24px;
            border-radius: 4px;
            margin-top: 15px;
        }
    }

    .job_decs {
        .header {
            border-bottom: 1px solid rgba(150, 165, 184, 0.5);
            .heading {
                font-size: 1.4rem;

            }

        }

        .jd_description {
            li {
                list-style-type: disc;
                font-size: 14px;
                color: #606167;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 10px;
            }

            .jd_descp {
                background-color: #F4F8FF;
                padding: 24px;
                border-radius: 4px;
                margin-top: 15px;
            }
        }

    }
}